<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFC3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Ocupacion por Habitacion en los ultimos 365 dias:</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Numero de Habitacion</th>
                    <th>% de Ocupacion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dato : ${datos}">
                    <td th:text="${dato[0]}"></td>
                    <td th:text="${dato[1]}"></td>
                    <td th:text="${dato[2]}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
