<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tipo de Habitación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Editar Tipo de Habitación</h1>
        <form th:action="@{'/servicios/' + ${servicio.id} + '/edit/save'}" method="post">
            <!-- Campos para editar el tipo de habitación -->
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" th:value="${servicio.nombre}" class="form-control">
            </div>
            <div class="form-group">
                <label for="descripcion">descripcion:</label>
                <input type="descripcion" id="descripcion" name="descripcion" th:value="${servicio.descripcion}" class="form-control">
            </div>
            <div class="form-group">
                <label for="costoPorUnidad">costoPorUnidad:</label>
                <input type="costoPorUnidad" id="costoPorUnidad" name="costoPorUnidad" th:value="${servicio.costoPorUnidad}" class="form-control">
            </div>
            <div class="form-group">
                <label for="unidad">unidad:</label>
                <input type="unidad" id="unidad" name="unidad" th:value="${servicio.unidad}" class="form-control">
            </div>
            <div class="form-group">
                <label for="horario">horario:</label>
                <input type="horario" id="horario" name="horario" th:value="${servicio.horario}" class="form-control">
            </div>
            <div class="form-group">
                <label for="tipoServicio">tipoServicio:</label>
                <input type="tipoServicio" id="tipoServicio" name="tipoServicio" th:value="${servicio.tipoServicio}" class="form-control">
            </div>
            <div class="form-group">
                <label for="capacidad">capacidad:</label>
                <input type="capacidad" id="capacidad" name="capacidad" th:value="${servicio.capacidad}" class="form-control">
            </div>
            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

    </div>
</body>
</html>
