<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Habitación</title>
</head>
<body>
    <div class="container">
        <h1>Crear Nueva Habitación</h1>
        <form action="/habitaciones/new/save" method="post">

            <div class="form-group">
                <label for="capacidad">Capacidad:</label>
                <input type="text" id="capacidad" name="capacidad" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="costoAlojamiento">Costo Alojamiento:</label>
                <input type="number" id="costoAlojamiento" name="costoAlojamiento" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="numero">numero:</label>
                <input type="number" id="numero" name="numero" class="form-control" required>
            </div>

            <label class="col-form-label" for="tiposhabitaciones_id">Tipo habitacion:</label>
            <select class="form-control" id="tiposhabitaciones_id" name="tipoHabitacion" required>
                <th:block th:each="tipo : ${tiposhabitaciones}" >
                    <option th:value="${tipo.id}" th:text="${tipo.nombre}" th:selected="${habitacion!=null || habitacion.tipoHabitacion.id == tipo.id}"></option>
                </th:block>
            </select><br>


            

            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-primary">Guardar Habitación</button>
        </form>
    </div>
</body>
</html>
