<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear reserva</title>
</head>
<body>
    <div class="container">
        <h1>Crear Nueva reserva</h1>
        <form th:action="@{'/reservashabitaciones/' + ${id_usuario} + '/new/save'}" method="post">
            <div class="form-group">
                <label for="numPersonas">numPersonas:</label>
                <input type="text" id="numPersonas" name="numPersonas" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="fechaInicio">Fecha de inicio ("YYYY-MM-DD"):</label>
                <input type="text" id="fechaInicio" name="fechaInicio" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="fechaFin">Fechan de fin ("YYYY-MM-DD"):</label>
                <input type="text" id="fechaFin" name="fechaFin" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="habitaciones_id">Habitacion:</label>
                <select class="form-control" id="habitaciones_id" name="habitacion.id" required>
                    <th:block th:each="tipo : ${habitaciones}" >
                        <option th:value="${tipo.id}" th:text="${tipo.numero}" ></option>
                    </th:block>
                </select><br>
            </div>

            <div class="form-group">
                <label for="planesdeconsumo_id">Plan de consumo:</label>
                <select class="form-control" id="planesdeconsumo_id" name="planConsumo.id" required>
                    <th:block th:each="tipo : ${planesConsumo}" >
                        <option th:value="${tipo.id}" th:text="${tipo.nombre}" ></option>
                    </th:block>
                </select><br>
            </div>
            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
